*{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
:root{
    --header-height: 3.5rem;

    /* =========Colores======= */
    --first-color: hsl(19, 64%, 54%);
    --first-color-alt: hsl(19, 64%, 52%);
    --title-color: hsl(19, 16%, 15%);
    --text-color: hsl(19, 16%, 35%);
    --text-color-light: hsl(19,8%, 55%);
    --body-color: hsl(19,100%, 96%);
    --container-color: hsl(19,100%, 97%);  

    --z-tooltip: 10;
    --z-fixed: 100;
}

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.marck-script-regular {
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width: 1024px) {
    :root{
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3{
    color: var(--text-color);

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}


.grid{
    display: grid;
 
}

.section{
   padding-block: 5rem 1rem;  
}
.section__title{
    margin-bottom: 1.5rem;
}

.section__subtitle{
    display: block;
    color: var(--first-color);
    margin-bottom: .5rem;
}
.section__title, 
.section__subtitle{
    text-align: center;
}

.main{
    overflow: hidden;
}

.header{
    padding: 0px 12%;
    /* position: fixed;
    width: 100%;
    background-color: var(--body-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: box-shadow .3s, background .4s; */
}
.nav{
    text-align: center;
    position: relative;
    padding: 20px 0px; 
    display: flex;
    justify-content: space-between;
}
.nav--menu, ul,li,a{
    display: flex;
    gap: 50px;
    text-align: center;
   font-size: 18px;  
   color: var(--text-color);
}
.icon--menu, #icon i {
    color: var(--text-color);
    font-size: 18px;
    justify-content: space-between;
}

.nav> a{
    font-size: 23px;
}
#header{
    background-color: var(--body-color );
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0px 12%;
}
.nav, a > span{
    /* font-size: 29px; */
    font-weight: 500;
}

.header-content{
    z-index: 3;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}
.header-right{
    padding-top: 50px;
    h1{
        font-size: 2.3rem;
        padding-bottom: 30px;
    }
    p{
        font-size: 1.1rem;
        padding-bottom: 30px;
    }
}
.header-right > button{
    padding: 1.1rem;   
    background-color: var(--first-color);
    color: #fff;
    gap: 100px;
    font-family: robato;
    border-radius: 60px;
}
.header-left > img{
    width: 100%;
}
.imge{
    padding: 0px 12%;
    padding-top: 20px;
    position: absolute;
    width: 95%;
    top: 2rem;
    left: .1rem;
    z-index: -1;
    opacity: .1;
}


